<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <!-- Itera sobre los empleados -->
      @for (item of employees; track $index) {

      <!-- Tarjeta para cada empleado -->
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <div class="flex flex-col h-full p-6 border-2 border-gray-300 rounded-lg hover:border-indigo-500 cursor-pointer">
          
          <!-- Contenido de la tarjeta -->
          <div class="flex-grow">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
              {{ item.rol }}
            </h3>
            <h2 class="text-gray-900 title-font text-lg font-medium mb-2">
              {{ item.name }} {{ item.surname }}
            </h2>
            <p class="text-gray-500 text-sm mb-2">Ingreso: {{ item.entry_date | seniorLabor }}</p>

            <!-- Estado de prueba -->
            <p
              class="text-orange-500 text-sm mt-2 inline-flex items-center justify-center space-x-2"
            >
              @if (isInProbation(item.entry_date)) {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                width="24"
                height="24"
                stroke-width="2"
              >
                <path d="M12 9v4"></path>
                <path
                  d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z"
                ></path>
                <path d="M12 16h.01"></path>
              </svg>
              <span>Está en periodo de prueba</span>
              }
            </p>
          </div>

          <!-- Pie de la tarjeta, donde puedes añadir una acción o mensaje adicional -->
          <div class="mt-4">
            <button class="text-indigo-500 hover:text-indigo-600 text-sm font-semibold">Ver detalles</button>
          </div>
        </div>
      </div>

      }
    </div>
  </div>
</section>
